.footer {
	background: #222;
	display: block;
	z-index: 123487964325689734;
	position: relative;
	margin-top: 2em;
}

.footerContent {
	height: 100%;
	width: 90%;
	padding: 2em 0;
	margin: auto;
}

.footerContent a {
	color: #fffa;
}
